body {
  margin: 0;
  background-color: #1a0949;
}

/* ===========
    NAVBAR
=========== */

.navbar {
  background-color: #2b1b88;
  color: white;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

.navbar__section {
  display: flex ;
}

.navbar__item {
  cursor: pointer;
  margin: 5px 10px 5px 10px;
}

.navbar__item--right {
  margin-top: 9px;
}

.navbar__item--hidden {
  display: none;
}

.navbar__item:hover {
  color: rgb(128, 167, 250);
}

@media (max-width: 450px) {
  .navbar {
    font-size: 20px;
  }

  .hide {
    display: none;
  }
  
  .navbar__item--hidden {
    display: block;
  }
}

/* ==============
    PORTFOLIO
============== */

.portfolio {
  text-align: center;
}

.portfolio__image {
  border-radius: 50%;
  /* Below configuration was there before including text-align: center; in the portfolio class */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
  max-width: 350px;
  width: 65%;
  /* heigth is not needed as the picture is squared */
}

.portfolio__container {
  background-color: black;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.portfolio__container a {
  color: inherit;
}

.portfolio__container__title {
  font-size: 50px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.portfolio__container__separator {
  border: 3px solid white;
  margin-bottom: 20px;
  width: 85%;
}

.portfolio__container__skills-list {
  font-size: 25px;
  line-height: 40px;
  margin: 10px;
}

.portfolio__container__social-media-list {
  padding-bottom: 10px;
}

.portfolio__container__social-media-icon {
  font-size: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

.portfolio__container__social-media-icon:hover {
  color: rgb(199, 209, 255);
  cursor: pointer;
}

@media (max-width: 450px) {
  .portfolio__container__title {
    font-size: 180%;
  }

  .portfolio__container__separator {
    margin-bottom: 10px;
  }

  .portfolio__container__skills-list {
    font-size: 20px;
    line-height: 30px;
  }

  .portfolio__container__social-media-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* ===========
RESUME
=========== */

.resume__container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.resume__container__left {
  width: 30%;
}

/* Used in the download resume button */
.resume__container__left a {
  color: inherit;
}

.resume__container__left__image {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.resume__container__left__name {
  color: white;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

.resume__container__left__title {
  color: rgb(93, 211, 211);
  font-size: 25px;
}

.resume__container__left__separator {
  border: 2px solid rgb(70, 179, 179);
  color: rgb(93, 211, 211);
}

.resume__container__left__content {
  color: white;
  font-size: 20px;
  text-align: justify;
}

.resume__container__left__download {
  color: rgb(116, 233, 233);
  cursor: pointer;
  display: flex;
  font-size: 25px;
  margin-top: 20px;
}

.resume__container__left__download:hover {
  color: rgb(150, 253, 253);
  letter-spacing: .5px;
}

.resume__container__left__download--text {
  margin: 0 0 0 15px;
}

.resume__container__right {
  background-color: #222121;
  color: white;
  margin-bottom: 20px;
  width: 65%;
}

.resume__container__right__separator {
  border: 2px solid #e63946;
  width: 97%;
}

.resume__container__right__title {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume__container__right__education {
  margin-left: 20px;
}

.resume__container__right__education__school {
  display: flex;
  justify-content: space-around;
}

.resume__container__right__education__school__dates {
  font-size: 17px;
  width: 20%;
}

.resume__container__right__education__school__info {
  margin-top: 0;
  width: 70%;
}

.resume__container__right__education__school__info__name {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.resume__container__right__education__school__info__description {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.resume__container__right__experience {
  margin-left: 20px;
}

.resume__container__right__experience__job {
  display: flex;
  justify-content: space-around;
}

.resume__container__right__experience__job__dates {
  font-size: 17px;
  width: 20%;
}

.resume__container__right__experience__job__info {
  margin-top: 0;
  width: 70%;
}

.resume__container__right__experience__job__info__company {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.resume__container__right__experience__job__info__role {
  font-style: oblique;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: auto;
}

.resume__container__right__experience__job__info__responsabilities {
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.resume__container__right__skills {
  margin-left: 20px;
}

.resume__container__right__skills__skill {
  display: flex;
  justify-content: space-around;
}

.resume__container__right__skills__skill__name {
  font-size: 20px;
  width: 20%;
}

.resume__container__right__skills__skill__percentage {
  display: flex;
  height: 0;
  margin-top: 18px;
  width: 70%;
  color: #d6d1f1;
}

.resume__container__right__certificates {
  margin-left: 20px;
}

.resume__container__right__certificates__cert {
  font-size: 25px;
  line-height: 45px;
}

@media (max-width: 1200px) {
  .resume__container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  .resume__container__left {
    width: 100%;
  }

  .resume__container__right {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .resume__container__left__image {
    max-width: 250px;
    width: 90%;
  }

  .resume__container__right__education {
    margin-left: 10px;
    margin-right: 5px;
  }

  .resume__container__right__education__school {
    display: block;
  }

  .resume__container__right__education__school__dates {
    width: 100%;
  }
  
  .resume__container__right__education__school__info {
    width: 100%;
  }

  .resume__container__right__experience {
    margin-left: 10px;
    margin-right: 5px;
  }
  
  .resume__container__right__experience__job {
    display: block;
  }
  
  .resume__container__right__experience__job__dates {
    width: 100%;
  }
  
  .resume__container__right__experience__job__info {
    width: 100%;
  }

  .resume__container__right__skills {
    margin-left: 10px;
  }
  
  .resume__container__right__skills__skill {
    display: block;
  }

  .resume__container__right__skills__skill__percentage {
    margin-top: -15px;
    margin-bottom: 40px;
    width: 95%;
  }
}

/* =============
    PROJECTS
============= */

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0;
}

.projects__container__project {
  background-color: #222121;
  border: 6px solid black;
  border-radius: 10px;
  color: white;
  min-height: 500px;
  margin: 20px;
  max-width: 350px;
  width: 80%;
}

.projects__container__project__image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: auto;
}

.projects__container__project__separator {
  border: 3px solid black;
  margin: -4px 0 0 0;
}

.projects__container__project__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

.projects__container__project__description {
  font-size: 20px;
  margin: 5px 10px 10px 10px;
  text-align: justify;
  /* Wrap big srings in different browsers */
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.projects__container__project__description a {
  color: inherit;
}